body{
    @extend %futuraBook;
    color:$type;
    text-transform:uppercase;
}

p{
    font-size:16px;
    line-height:26px;
    text-align:center;
    text-transform:none;
}

hr{
    margin-top:0px;
    margin-bottom:0px;
}

h1{
    text-align:center;
    @extend %futuraStretch;
    font-size:24px;
}

h2{
    text-align:center;
    @extend %futuraBook;
    font-size:18px;
    margin:20px 0;
}

h3{
    text-align:center;
    @extend %futuraStretch;
}
