label{
    text-transform:uppercase;
    text-align:center;
    color:white;
    display:block;
    @extend %futuraStretch;
    font-size:22px;
    margin-bottom:20px;
}

%reset{
    @include border-radius(0);
    border:0;
    @include box-shadow(none);
    &:focus{
        @include border-radius(0);
        border:0;
        @include box-shadow(none);
    }
}

.form-control{
    @extend %reset;
}

.input-alt{
    border:none;
    height:40px;
    line-height:40px;
    padding:0 10px;
    margin:0;
    @include transition('background' none);
    background-position:right center;
    background-repeat:no-repeat;
    background-image:none;
    background:$lightRed;
    color:white;
    @include transition(0.5s);
    text-transform:uppercase;
    @include placeholder{
        color:white;
    }
    &:focus, &.active{
        background:$red;
    }
}

.form-submit{
    text-align:center;
}

.form-group{
    margin-bottom:20px;
}

.btn{
    @extend %reset;
    border: 3px solid white;
    background:$red;
    font-size:18px;
    color:white;
    @extend %futuraStretch;
    font-size:22px;
    &:before{
        display:inline-block;
        content:'';
        width:6px;
    }
}

.btn-transparent{
    background:transparent none;
}