.modal-content{
    @include box-shadow(none);
    background:transparent none;
}

.modal-body{
    background:$red;
    padding:50px 90px;
    p{
        @extend %futuraBook;
        font-size:22px;
        color:white;
        text-align:center;
    }
    a{
        display:block;
        width:100%;
        text-align:center;
        color:white;
    }
}

.modal-footer, .modal-header{
    border:none;
    padding:5px;
    margin:0;
    a{
        color:white;
        letter-spacing:2px;
        font-size:12px;
    }
}

.modal-footer{
    margin-top:20px;
}

.modal-header{
    text-align:center;
    color:white;
    @extend %futuraStretch;
    font-size:32px;
    margin-bottom:10px;
}