#results{
    overflow:hidden;
}

input.spinner{
    background:url(../dev/images/spinner.gif) no-repeat right center $red!important;
}

#search{
    height:40px;
    line-height:40px;
    padding:0 10px;
    margin:0;
    @include transition('background' none);
    background-position:right center;
    background-repeat:no-repeat;
    background-image:none;
}

#results{
    h1, h2{
        color:white;
    }
    h2{
        margin-top:0px;
    }
    .caption{
        padding:5px 0;
        position:absolute;
        bottom:0px;
        width:100%;
        z-index:1;
    }
    .red-fade{
        height:10px;
    }
    .search-result{
        margin:10px;
        height:105px;
        position:relative;
        overflow:hidden;
    }
    img{
        @include transition(0.5s);
        position:absolute;
        width:100%;
        top:105px;
    }
    .display{
        img{
            top:0px;
        }
    }
}