// customize sociootstrap variasociles here:
$red : #F95E4C;
$darkRed : #EA2326;
$lightRed : #fda49a;
$grey : #F2F2F2;
$shadow : #CCCCCC;
$border: #898989;
$type : #8f8f8f;

$base : "/mk/frontend/";

$vertical-gutter : 34px;

@import "variables_fe";
@import "bootstrap";
@import "compass";

@import "extends";

@import "base";
@import "modal";
@import "form";
@import "elements";
@import "search";
@import "map";

$img : "../dev/images/";

.container{
    background:$grey;
    border: 0 10px;
    border-color: $grey;
    @include box-shadow(0px -5px 5px $shadow);
    padding:0 25px;
    @include box-sizing(border-box);
}

header, footer{
    background:$red;
    height:245px;
    position:relative;
    background-image:url(#{$img}logo.png);
    background-repeat:no-repeat;
    background-position:center center;
    h1{
        text-indent:-100000px;
        margin:0;
    }
}

footer{
    margin-top:30px;
    padding-top:22px;
    height:150px;
    background-image:none;
    @extend %futuraBook;
    ul{
        @extend %inlineUL;
        color:#fff;
        font-size:14px;
    }
    li{
        border-left: 1px solid white;
        padding:0 10px;
        height:22px;
        &.first, &.social, &.matrade{
            border-left:none;
        }
    }

}

.separate{
    margin-top:30px;
}

.spaced, h1{
    margin:$vertical-gutter 0;
}

$social-icons: "ocado", "twitter", "facebook", "instagram";
@for $i from 1 through length($social-icons) {
        $item: nth($social-icons, $i);
        $i : $i - 1;
    .#{$item}{
        background-position: #{-12 + (-22*$i)}px 0px;
    }
}

.social a{
    width:19px;
    height:22px;
    background-image:url(#{$img}sprite.png);
    margin-top:5px;
    margin-left:5px;
    float:left;
    &.matrade{
        display:block;
        clear:both;
        margin-top:15px;
        width:69px;
        height:33px;
        background-position:-100px 0;
        @extend %clearfix;
        float:right;
    }
}

.tabs{
    list-style-type:none;
    position:absolute;
    width:200px;
    bottom:24px;
    right:-12px;
    li{
        height:35px;
        margin-bottom: 7px;
        line-height:35px;
        float:right;
        @include ltrLinear($red, $darkRed);
        @extend %pie;
        a{
            display:block;
            float:right;
            height:35px;
            line-height:35px;
            color:white;
            font-size:20px;
        }
    }
    i{
        display:block;
        width:12px;
        height:41px;
        background:url(#{$img}sprite.png) left top no-repeat;
        float:right;
    }
}

nav{
    border-color:$border;
    border-top:1px solid;
    border-bottom:1px solid;
    height:42px;
    font-size:14px;
    font-size:16px;
    margin-bottom:$vertical-gutter;
    text-align:center;
    ul{
        @extend %inlineUL;
        display:inline-block;
    }
    li{
        float:left;
        margin-top:10px;
        padding:0 15px;
        border-left: 1px solid $border;
        &.first{
            border-left:none;
        }
    }
    a{
        color:$type;
        letter-spacing: 1px;
        &:hover{
            color:#101010;
            text-decoration:none;
        }
    }
}

.feature{
    height:400px;
    padding-bottom:50px;
    h2{
        @extend %futuraStretch;
        margin-top:30px;
        margin-bottom:6px;
        font-size:26px;
    }
    p{
        @extend %futuraBook;
        font-size:18px;
    }
    .red-fade{
        height:10px;
    }
    .carousel-indicators{
        bottom:3px;
    }
    .item{
        height:352px;
    }
    img{
        @extend %fillImg;
    }
}

.small-features{

}

.small-feature{
    margin-bottom:$vertical-gutter;
    margin-top:24px;
    height:256px;
    overflow:hidden;
    position:relative;
    img{
        position:absolute;
        top:0;
    }
    .feature-caption{
        margin-top:180px;
        height:76px;
        overflow:hidden;
        position:relative;
        z-index:1;
    }
    h2{
        position:relative;
        color:#fff;
        text-align:center;
        @extend %futuraStretch;
        font-size:20px;
        margin-top:8px;
        line-height:28px;
    }
    img{
        @extend %fillImg;
    }
}

.black-fade{
    @include ltrLinear(black,transparent);
    left:auto;
    right:auto;
    padding:0px;

}

.red-fade{
    @include ltrLinear(#BF1D20,transparent);
    width:100%;
    bottom:0;
    position:absolute;
    height:4px;
}

.carousel-caption{
    height:120px;
    bottom:0px;
    width:100%;
    @include text-shadow(none);
}

p.intro{
    margin-bottom:$vertical-gutter;
}

#recipe-search{
    padding-top:$vertical-gutter;
}

#recipe-search-box{
    width:70%;
    margin-left:15%;
}

#search-results{
    margin-top:45px;
    @extend %futuraBook;
    font-size:24px;
    div{
        margin-bottom:20px;
    }
}

#search-paginate{
    @extend %clearfix;
    position:relative;
    height:60px;
}

#recipe-detail, #recipe-meta{
    margin-bottom:$vertical-gutter;
    p{
        text-align:left;
    }
}

#recipe-ingredients{
    @extend %inlineUL;
    text-align:left;
    margin:20px 0 35px 0;
    .pill{
        float:right;
        height:36px;
        padding:0 10px;
    }
    li{
        line-height:36px;
        width:100%;
        height:36px;
        margin-bottom:10px;
    }
}

.ad{
    width:300px;
    height:250px;
    background:black;
    margin:0 auto;
}

.recipe-preview{
    position:relative;
    overflow:hidden;
    .caption{
        @include transition(0.5s);
        position:absolute;
        width:100%;
        bottom:0px;
        height:95px;
    }
    .delete{
        position:absolute;
        width:100%;
        top:-95px;
        color:white;
        font-size:45px;
        line-height:88px;
        text-align:center;
        font-style:italic;
        @extend %futuraStretch;
        &:before{
            display:none;
        }
        a{
            font-style:normal;
            color:white;
        }
    }
    &.delete{
        .caption{
            bottom:-95px;
        }
        .delete{
            top:45%;
        }
    }
}

.contactbox{
    background:$red;
    text-align:center;
    padding-top:40px;
    padding-bottom:40px;
    h2{
        @extend h1;
        color:white;

    }
    a{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:block;
    }
}

.bottom{
    position:absolute;
    bottom:0px;
    right:0px;
}

.absolute{
    position:absolute;
}

.tiles{
    position:relative;
    img{
        width:100%;
    }
    .wide{
        @extend .bottom;
    }
}

.malaysia{
    text-align:left;
    text-transform:uppercase;
    letter-spacing: 2px;
}

#contact{
    position:relative;
    margin-bottom:80px;
    p{
        font-size:18px;
        text-align:left;
        text-transform:uppercase;
        line-height:30px;
    }
    form{
        background:$red;
        padding:20px;
    }
    .btn{
        border:0;
        margin-top:40px;
    }
    .absolute{
        margin-left:-20px;
    }
    label{
        text-align:left;
    }
    input{
        width:225px;
    }
}
